# Do not commit real secrets
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=eastasia
AZURE_SPEECH_ENDPOINT=https://eastasia.api.cognitive.microsoft.com/
AZURE_SPEECH_VOICE=en-US-JennyNeural
GITHUB_REPO=git@github.com:YOUR_USER/YOUR_REPO.git
